---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Item'
    value: page.object
  - label: 'Institution'
    value: page.institution
  - label: 'Call Number'
    value: page.inventory_number
  - label: 'Artist'
    value: page.artist
  - label: 'Date'
    value: page.museum_dating
  - label: 'Type'
    value: page.type
  - label: 'Country of Provenance'
    value: page.country_provenance
  - label: 'City of Provenance'
    value: page.city_provenance
  - label: 'Medium'
    value: page.medium
  - label: 'Size (in)'
    value: page.size_inches
  - label: 'Size (mm)'
    value: page.size_mm
  - label: 'Description'
    value: page.description
  - label: 'Credits'
    value: page.credit
---